<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamoval.android.sdk.slydepay">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application>
        <activity android:name=".PayWithSlydepay"
            android:theme="@style/Theme.D1NoTitleDim">
        </activity>
    </application>

</manifest>
